.form__btn {
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
}

.form__btn:hover {
    background-color: bisque;
}
