.item-wrap {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  background-color: #c5bb91;
  border-radius: 10px;
  margin: 10px 0;
}

.item__body {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.item__text {
  padding: 10px;
}

.todo__close-btn {
  position: absolute;
  right: 5px;
  top: calc(50% + 10px);
}
